<% link ||= false %>

<div class='row'>
  <div class='span1 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: 'true'), method: 'post', remote: true do %>
        <span class='icon-chevron-up'></span>
      <% end %>
    <% end %>
    <br/>
    <span id='comment_<%= comment.id %>_votes'>
      <%= pluralize(comment.net_votes, 'vote') %>
    </span>
    <br/>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: 'false'), method: 'post', remote: true do %>
        <span class='icon-chevron-down'></span>
      <% end %>
    <% end %>
    <span></span>
  </div>
  <div class='span6 well'>
    <p> "<%= comment.body %>"
      <% if link %>
        <span> on <%= link_to comment.post.title, post_path(comment.post) %> </span>
      <% end %>
    </p>
    <p>
      <span class='quiet'>
        by <%= comment.creator.username %>
      </span>
      <small> on <%= format_datetime(comment.created_at) %> </small>
    </p>
  </div>
</div>
