<div class='row span8 well'>
  <%= form_for @user do |f| %>
    <%= render 'shared/form_errors', object: f.object %>

    <%= f.label             :username                      %>
    <%= f.text_field        :username                      %>
    <%= f.label             :email                         %>
    <%= f.text_field        :email                         %>
    <%= f.label             "Select Time Zone (optional)"  %>
    <%= f.time_zone_select  :timezone,
                            ActiveSupport::TimeZone.us_zones,
                            include_blank: true            %>
    <%= f.label             "Phone Number For Optional 2-Factor Authentication"%>
    <p class='quiet'>       format: 5555555555           </p>
    <%= f.text_field        :phone                         %>
    <%= f.label           (@user.new_record? ? :password : "Change Password") %>
    <%= f.password_field    :password                      %>
    <%= f.label             "Verify Password"              %>
    <%= f.password_field    :password_confirmation         %>


    <br/>
    <%= f.submit (@user.new_record? ? "Create User" : "Update"),
        class: "btn btn-primary" %>
  <% end %>
  <% if logged_in? %>
    <p class='quiet'> Note: password & verification are only required if you're changing the password.</p>
  <% end %>
</div>
