<div class='row'>
  <div class='span1 well'>
    <p>
      (Ajax)Votes
    </p>
  </div>
  <div class='span8 well'>
    <p>
      <%= render post.categories %>
    </p>
    <h4> <%= link_to post.title, post.url %> </h4>
    <p>  <%= post.description             %> </p>

    <p>
      <span class='quiet'> posted by <%= post.creator.username %> </span>
      <small class='quiet'></small>at  <%= post.created_at    %>
    </p>

    <small>
      <span>
        <%= link_to "#{post.comments.size} comments", post_path(post) %>
      </span>
    </small>
  </div>
</div>
